dist: bionic

addons:
  snaps:
    - name: protobuf
      confinement: classic

language: go

go:
  - 1.13.x

env:
  - global:
    - REGISTRY_URL=hub.docker.com
    - PROJECT_NAME=kiosk
    - REGISTRY_USER=jibitters

stages:
  - test
  - name: publish
    if: branch = master

jobs:
  include:
    - stage: test
      before_script:
        - go get -u golang.org/x/lint/golint
        - go get -u github.com/golang/protobuf/protoc-gen-go
      script:
        - go generate ./cmd/kiosk/main.go
        - golint -set_exit_status=1 ./...
        - go vet ./...
        - chmod +x ./scripts/test.sh && ./scripts/test.sh
      after_success:
        - bash <(curl -s https://codecov.io/bash)

    - stage: publish
      before_script:
        - go get -u golang.org/x/lint/golint
        - go get -u github.com/golang/protobuf/protoc-gen-go
        - chmod +x ./scripts/build.sh && ./scripts/build.sh
      script:
        - chmod +x ./scripts/dockerize.sh && ./scripts/dockerize.sh

services:
  - docker
